<div class="ingreso">
  <h2 class="ingreso_titulo">Ingresos</h2>

  <div *ngFor="let income of listIncome; let indexOfItem = index" class="elemento limpiarEstilos">
    <div class="elemento_descripcion">{{indexOfItem}} - {{income.description}}</div>
    <div class="right limpiarEstilos">
      <div class="elemento_valor">+ {{income.value | currency: 'COP': '$': '1.2-2'}}</div>
      <div class="elemento_eliminar">
        <button (click)="delete(indexOfItem)" class="elemento_eliminar--btn">
          <mat-icon>remove_circle_outline</mat-icon>
        </button>
      </div>
    </div>
  </div>

</div>